rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read: if request.auth.uid == user;
      allow write: if request.auth.uid == user;
    }
    function isApproved() {
      return true; // this is a placeholder for the actual logic
      // return request.auth.uid != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.approved;
    }            
    match /clients/{client} {
      allow read: if isApproved();
      allow write: if isApproved();
    }
    match /{path=**}/counselings/{counseling} {
      allow read: if isApproved();
      allow write: if isApproved();
    }
    match /{path=**}/links/{link} {
      allow read: if isApproved();
      allow write: if isApproved();
    }
    match /{path=**}/endings/{link} {
      allow read: if isApproved();
      allow write: if isApproved();
    }
    match /{path=**}/memos/{link} {
      allow read: if isApproved();
      allow write: if isApproved();
    }
    match /{path=**}/files/{link} {
      allow read: if isApproved();
      allow write: if isApproved();
    }
  }
}